{% extends "layout.html.twig" %}

{% block content %}
    <form id="compress-form">
        <input type="text" name="url">
        <input type="submit" id="compress-btn">
    </form>
    <div id="link"></div>
{% endblock %}
