<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - My Silex Application</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        <script>
            $( document ).ready(function() {
                $("#compress-btn").click(function(event){
                    event.preventDefault();
                    $.post("/compressor", $("#compress-form").serialize(), function(data) {
                        var obj = jQuery.parseJSON(data);
                        $('#link').html('<a href="' + obj.link + '" target="_blank">' + obj.link + '</a>');
                    });
                });
            });
        </script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
